#logo {text-align: center;display: block;}

.ring{background-color: #ffebcd; align-content: center;} 

p {text-align: center;}

.titolo1 {text-align: center; }

.articolo2 > p {margin-left: 16em; margin-right: 16em; text-align: center;}

.immagine1 {text-align: center;display: block; border-radius: 10px 10px 10px 10px; }

.fm {color: rgb(172, 161, 161);}